<nav>
  <div class="nav-wrapper red accent-4">
    <a href="/" class="brand-logo">uToob</a>
    <ul class="right hide-on-med-and-down">
    <li><%= link_to 'Movies', root_path%></li>
    <li><%= link_to 'Upload', new_movie_path %></li>
    <li><%= link_to 'Account', accounts_path %></li>

    </ul>
  </div>
</nav>