<div class=container>
  <h2>Welcome: <%= current_user.first_name %>
  </h2>
  <hr />
    <%= link_to "See Comments", account_path(@accounts) %>
    <%= link_to "Playlists", account_playlists_path(@accounts) %>
</div>
<div class="right-align">
<%= button_to 'LOG OUT', destroy_user_session_path, method: :delete%>
</div>
